body {
  background-color: black;
}

h1 {
  color: orangered;
  font-family: CMRDD;
  font-size: 65px;
}

.marquee {
      position: absolute;

}

.outlined {
  border: solid;
}

.twitch {
      position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
    font-family: Garamondt;
    src: url("Garamondt-Italic.woff");
}

@font-face {
    font-family: CMRDD;
    src: url("CMRDD-Bold.woff");
}



