body {
  background-color: black;
}

h1 {
  color: greenyellow;
  font-family: CMRDD;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 65px;
}

p {
  color: greenyellow;
  font-family: CMRDD;
  position: relative;
  text-align: center;
  font-size: 12px;
}

.twitch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
    font-family: Garamondt;
    src: url("Garamondt-Italic.woff");
}

@font-face {
    font-family: CMRDD;
    src: url("CMRDD-Bold.woff");
}



