body {
  background-color: black;
}

h1 {
  color: greenyellow;
  font-family: Arial, Helvetica, sans-serif;
}

.twitch {
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

