body {
  background-color: black;
}

h1 {
  color: greenyellow;
  font-family: Garamondt;
  font-size: 40px;
}

.twitch {
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
    font-family: Garamondt;
    src: url("Garamondt-Italic.woff");
}

@font-face {
    font-family: CMRDD;
    src: url("CMRDD-Bold.woff");
}



