body {
  background-color: black;
}

h1 {
  color: greenyellow;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

.twitch {
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

